<p id="notice"><%= notice %></p>

<h1><%= Patientlist.model_name.human(count:@patientlists.count) %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= @patientlists.human_attribute_name(:register_name) %></th>
      <th><%= @patientlists.human_attribute_name(:email) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patientlists.each do |patientlist| %>
      <tr>
        <td><%= patientlist.register_name %></td>
        <td><%= patientlist.email %></td>
        <td><%= link_to t('links.show'), patientlist %></td>
        <td><%= link_to t('links.edit'), edit_patientlist_path(patientlist) %></td>
        <td><%= link_to t('links.destroy'), patientlist, method: :delete, data: { confirm: t('confirm_msg') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new patientlist'), new_patientlist_path, class:"btn btn-primary" %>
